<div class="login-container">
  <h1>SMIPE</h1>
  <img src="<%= asset_path('SMIPE_logo.png') %>" alt="SMIPE Logo" class="logo">

  <div class="login-box">
    <%= link_to '/auth/spotify', class: 'login-link' do %>
      <span class="fab fa-spotify"></span> Spotifyでログイン
    <% end %>
  </div>
</div>

