<div class="player-container">

  <main class="player-content">
    <div class="swiper" data-controller="play-track">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="album-art-section">
            <%= image_tag "image1.png", alt: "Album Art", class: "album-image" %>
            <div class="track-details">
              <p class="song-title">銃の部品</p>
              <p class="artist-name">PEOPLE 1</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="album-art-section">
            <%= image_tag "image2.jpg", alt: "Album Art", class: "album-image" %>
            <div class="track-details">
              <p class="song-title">別の曲のタイトル</p>
              <p class="artist-name">別のアーティスト</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="album-art-section">
            <%= image_tag "image3.jpg", alt: "Album Art", class: "album-image" %>
            <div class="track-details">
              <p class="song-title">さらに別の曲</p>
              <p class="artist-name">Test Artist C</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </main>
</div>

