@import "https://ga.jspm.io/npm:toastr@2.1.4/build/toastr.min.css";

/*
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
}

.playlist-leaflet-icon img {
  border-radius: 0 !important;
  /* 必要なら枠線や影も追加できます */
}

.current-location-icon {
  background: none;
  border: none;
}
.current-location-icon i {
  color: #2196f3;
  font-size: 36px;
  text-shadow: 0 0 4px #fff, 0 0 8px #2196f3;
  display: block;
  line-height: 1;
}