@import "https://ga.jspm.io/npm:toastr@2.1.4/build/toastr.min.css";

/*
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
}

.playlist-leaflet-icon img {
  border-radius: 0 !important;
  /* 必要なら枠線や影も追加できます */
}